# Datos de Europa

In [3]:
# for basic operations
import numpy as np 
import pandas as pd 

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

# for advanced visualizations
from bubbly.bubbly import bubbleplot 
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go

# for providing path
import os
print(os.listdir("datasets"))

['trust_in_legal_2013.csv', 'median_income_2016.csv', 'make_ends_meet_2016.csv', 'trust_in_politics_2013.csv', 'life_satisfaction_2013.csv', 'job_satisfaction_2013.csv', 'crime_2016.csv', 'life_expectancy_2016.csv', 'weather.csv', 'pollution_2016.csv', 'trust_in_police_2013.csv', 'perceived_health_2016.csv', 'close_relations_2015.csv', 'low_savings_2016.csv', 'work_hours_2016.csv', 'unemployment_2016.csv', 'gdp_2016.csv', 'underemployment_2016.csv', 'env_satisfaction_2013.csv', 'population_2011.csv', 'leisure_satisfaction_2013.csv']

## **$1-$ Carga y visualización de los datos**

In [8]:
import pandas as pd
import glob

path = r'datasets' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, keep_default_na=False, header=0)
    li.append(df)

df = pd.concat(li, axis=1, ignore_index=False)
df.tail().T

,27,28,29,30,31
country,United Kingdom,Iceland,Norway,Switzerland,Turkey
legal_trust_rating,5.5,5.7,7.2,7,5.4
country,United Kingdom,Iceland,Norway,Switzerland,Turkey
median_income,17296,22193,27670,27692,6501
country,United Kingdom,Iceland,Norway,Switzerland,Turkey
...,...,...,...,...,...
prct_yng_adt_pop,19.9423,21.5933,19.5865,18.4458,18.714
country,Slovenia,Slovakia,Finland,Sweden,United Kingdom
prct_leisure_satis_high,24.7,26.6,35.9,33.2,29
prct_leisure_satis_med,45.7,44,51.6,44.9,41.7
prct_leisure_satis_low,29.6,29.4,12.5,21.9,29.3

In [ ]:
# pollution = pd.read_csv('datasets/pollution_2016.csv')
# env_satisfaction = pd.read_csv('datasets/env_satisfaction_2013.csv')
# life_satisfaction = pd.read_csv('datasets/life_satisfaction_2013.csv')
# politics = pd.read_csv('datasets/trust_in_politics_2013.csv')
# income = pd.read_csv('datasets/median_income_2016.csv')
# legal = pd.read_csv('datasets/trust_in_legal_2013.csv')
# job_satisfaction = pd.read_csv('datasets/job_satisfaction_2013.csv')
# budget = pd.read_csv('datasets/make_ends_meet_2016.csv')
# crime = pd.read_csv('datasets/crime_2016.csv')
# leisure_satisfaction = pd.read_csv('datasets/leisure_satisfaction_2013.csv')
# underemployment = pd.read_csv('datasets/underemployment_2016.csv')
# close_relations = pd.read_csv('datasets/close_relations_2015.csv')
# low_savings = pd.read_csv('datasets/low_savings_2016.csv')
# weather = pd.read_csv('datasets/weather.csv')
# life_expectancy = pd.read_csv('datasets/life_expectancy_2016.csv')
# unemployment = pd.read_csv('datasets/unemployment_2016.csv')
# police = pd.read_csv('datasets/trust_in_police_2013.csv')
# gdp = pd.read_csv('datasets/gdp_2016.csv')
# health = pd.read_csv('datasets/perceived_health_2016.csv')
# population = pd.read_csv('datasets/population_2011.csv')
# work_hours = pd.read_csv('datasets/work_hours_2016.csv')

In [ ]:
# Unimos todos los datos

# x = pd.merge(pollution, env_satisfaction,
#               on = 'country')
# x1 = pd.merge(x, job_satisfaction,
#               on = 'country')
# x2 = pd.merge(x1, life_satisfaction,
#               on = 'country')
# x3 = pd.merge(x2, politics,
#               on = 'country')
# x4 = pd.merge(x3, income,
#               on = 'country')
# x5 = pd.merge(x4, legal,
#               on = 'country')
# x6 = pd.merge(x5, budget,
#               on = 'country')
# x7 = pd.merge(x6, crime,
#               on = 'country')
# x8 = pd.merge(x7, leisure_satisfaction,
#               on = 'country')
# x9 = pd.merge(x8, underemployment,
#               on = 'country')
# x10 = pd.merge(x9, close_relations,
#                on = 'country')
# x11 = pd.merge(x10, low_savings,
#                on = 'country')
# x12 = pd.merge(x11, weather,
#                on = 'country')
# x13 = pd.merge(x12, life_expectancy,
#                on = 'country')
# x14 = pd.merge(x13, unemployment,
#                on = 'country')
# x15 = pd.merge(x14, police,
#                on = 'country')
# x16 = pd.merge(x15, gdp,
#                on = 'country')
# x17 = pd.merge(x16, health,
#                on = 'country')
# x18 = pd.merge(x17, population,
#                on = 'country')
# df = pd.merge(x18, work_hours,
#                on = 'country')

In [9]:
# checking shape
print("The dataset has {} rows and {} columns.".format(*df.shape))

# ... and duplicates
print("It contains {} duplicates.".format(df.duplicated().sum()))

The dataset has 32 rows and 75 columns.
It contains 0 duplicates.

In [10]:
df.columns

Index(['country', 'legal_trust_rating', 'country', 'median_income', 'country',
       'prct_budget_veryhard', 'prct_budget_hard', 'prct_budget_somehard',
       'prct_budget_someeasy', 'prct_budget_easy', 'prct_budget_veryeasy',
       'country', 'political_trust_rating', 'country', 'prct_life_satis_high',
       'prct_life_satis_med', 'prct_life_satis_low', 'country',
       'prct_job_satis_high', 'prct_job_satis_med', 'prct_job_satis_low',
       'country', 'prct_rpt_crime', 'country', 'life_expect', 'country',
       'avg_temp', 'avg_high_temp', 'avg_low_temp', 'avg_precipitation',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'country',
       'prct_rpt_pollution', 'country', 'police_trust_rating', 'country',
       'prct_health_verygood', 'prct_health_good', 'prct_health_fair',
       'prct_health_bad', 'prct_health_verybad', 'country', 'prct_close_relat',
       'country', 'prct_low_savings', 'country', 'avg_hrs_worked', 'country',
       'unemp_rate', 'country', 'gdp', 'country', 'med_income_underemp',
       'country', 'prct_env_satis_high', 'prct_env_satis_med',
       'prct_env_satis_low', 'country', 'total_pop', 'prct_yng_adt_pop',
       'country', 'prct_leisure_satis_high', 'prct_leisure_satis_med',
       'prct_leisure_satis_low'],
      dtype='object')

In [11]:
# let's drop some of the useless columns present in the dataset
df = df.drop(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
                 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
                  'Unnamed: 15', 'Unnamed: 16'], axis = 1)

In [12]:
df['political_trust_rating'] = df['political_trust_rating']*10
df['legal_trust_rating'] = df['legal_trust_rating']*10
df['unemp_rate'] = df['unemp_rate']*10
df['police_trust_rating'] = df['police_trust_rating']*10
df['total_pop'] = df['total_pop']/805550

# divinding the values of median income and gdp to get the values within the range of 100
# I have used the minimum and maximum values to get the normalized values between 0 and 100.
df['median_income'] = df['median_income']/287
df['gdp'] = df['gdp']/31600


# let's transpose and check the dataset
df = df.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
country,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,Ireland,Greece,Spain,France,...,Romania,Slovenia,Slovakia,Finland,Sweden,United Kingdom,Iceland,Norway,Switzerland,Turkey
legal_trust_rating,50,30,38,75,53,52,51,41,31,45,...,58,27,36,72,67,55,57,72,70,54
country,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,Ireland,Greece,Spain,France,...,Romania,Slovenia,Slovakia,Finland,Sweden,United Kingdom,Iceland,Norway,Switzerland,Turkey
median_income,74.338,23.4913,43.4774,74.4077,73.7003,41.3484,63.7143,31.5261,53.4739,71.8502,...,16.4599,53.1359,36.4669,69.676,73.0139,60.2648,77.3275,96.4111,96.4878,22.6516
country,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,Ireland,Greece,Spain,France,...,Romania,Slovenia,Slovakia,Finland,Sweden,United Kingdom,Iceland,Norway,Switzerland,Turkey
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
prct_yng_adt_pop,18.4851,18.4326,19.6884,20.6013,17.6044,16.6743,18.5275,18.5513,15.475,18.8625,...,17.1056,18.3088,21.9086,18.714,19.3863,19.9423,21.5933,19.5865,18.4458,18.714
country,Iceland,Norway,Switzerland,Turkey,Belgium,Bulgaria,Czechia,Denmark,Germany,Estonia,...,Netherlands,Austria,Poland,Portugal,Romania,Slovenia,Slovakia,Finland,Sweden,United Kingdom
prct_leisure_satis_high,35,30.2,25.8,12.2,21.5,14.6,24.3,41.4,24.2,22.2,...,18.9,35.3,27.8,23.9,18,24.7,26.6,35.9,33.2,29
prct_leisure_satis_med,43,45.3,46.7,36.4,60.6,33.9,44.1,40.9,42.5,44.9,...,75.2,41.4,42.3,40.6,59.6,45.7,44,51.6,44.9,41.7
prct_leisure_satis_low,22,24.5,27.5,51.5,17.9,51.5,31.5,17.7,33.3,33,...,5.9,23.3,29.9,35.5,22.4,29.6,29.4,12.5,21.9,29.3